
.tiny-bar {
  height: 25px;
  background: #F0027F;
}
.logo.photo {
  text-align: center;
}
.logo.photo img {
  width: 230px;
}
.container-fluid {
	background: #1150A1;
	padding: 20px 50px;
}
.go-button {
  background: green;
  color: white;
  font-weight: bold;
  border: 3px solid;
  padding: 5px 31px;
  font-size: 22px;
  font-family: times new roman;
  text-transform: uppercase;
}

.registration h3 {
  color: white;
  margin-top: 0px;
}
.registration h3 span {
  font-size: 13px;
  background: #DBF09C;
  color: black;
  padding: 3px;
  display: inline-block;
}
.input {
  background: #DBF09C;
  border: 0px;
  color: black;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
.ok-button {
  display: inline-block;
  margin-top: 183px;
  background: #00A0C6;
  border: 0px;
  margin-left: 5px;
  padding: 2px 16px;
  color: white;
  text-transform: uppercase;
}
.registration .col-md-10 {
  padding-right: 0px;
}
.registration .col-md-2 {
  padding: 0px;
}
.apply-button {
  border: 0px;
  background: green;
  color: white;
  display: inline-block;
  padding: 4px 10px;
  font-weight: bold;
  float: right;
}
.login h3 {
  color: white;
  margin-top: 71px;
}
.authorize p {
  color: white;
  font-size: 18px;
  margin-top: 139px;
}
.author-go {
  background: #F0027F;
  border: 0px;
  padding: 5px 13px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  display: inline-block;
}
.author-number-input {
  width: 82%;
  display: inline-block;
}
body {
  font-family: times new roman;
}
.home-slider .owl-item div,.product-list div {
	height: 130px;
	border: 3px solid white;
	text-align: center !important;
}
.product-list div {
	width: 12.1%;
	float: left;
	border: 1px solid white;
	margin: 2px;
	margin-bottom: 20px;
	margin-right: 3px;
}
.home-slider .owl-item div img,.product-list div img {
  padding: 4px;
  height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.section.go {
  margin-bottom: 20px;
}
.footer p {
  text-align: center;
  font-weight: bold !important;
  padding: 5px;
  color: white;
}
.footer {
  background: #811788;
}
.login-registration {
  margin-bottom: 5px;
}
.mini-logo img {
	max-width: 100%;
}

.member-apply-button {
  border: 0px;
  background: #7DC21C;
  color: white;
  font-weight: bold;
  padding: 5px 14px;
  float: right;
}

.member .login h3 {
  margin-top: 0px;
}
.member .apply-button {
  background: #00A0C6;
  padding: 4px 19px;
}

.user-info p span {
  color: white;
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.add-page .mini-logo img {
  width: 60%;
}

.add-items-place .col-md-2 {
}
.add-items-place .col-md-2 p {
  text-align: center;
  background: #F6EDEC;
  color: #7070db;
  position: relative;
}
.add-items-place .col-md-2 p:after {
  content: "Upload Product";
  position: absolute;
  bottom: 4px;
  right: 9px;
  color: black;
  font-weight: bold;
}
.add-items-place .col-md-2 p label {
	width: 100%;
	padding: 72px 0px;
}

/* SQUARED TWO */
.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squaredTwo {
	margin: 0px;
	display: inline-block;
}

.delivery-heading {
	background: #80CFE2;
	text-align: center;
	padding: 5px 0px;
	margin-top: 0px;
	margin-bottom: 4px;
}
.single-checkbox {
  background: #CFCFCF;
  height: 29px;
    margin-bottom: 4px;
}
.single-checkbox span {
  vertical-align: top;
  margin-top: 6px;
  display: inline-block;
  padding-left: 10px;
}

.submit-button {
	background: #37A22B;
	border: 0px;
	padding: 5px 22px;
	color: white;
	letter-spacing: 2px;
	font-size: 17px;
	text-transform: uppercase;
}


.description-heading {
  background: white;
  display: block;
  padding: 5px 0px;
  text-align: center;
}
.basic-info .row .col-md-3 {
  background: white;
  padding: 3px 10px;
}
.basic-info .row {
  margin: 0px;
  margin-bottom: 2px;
}
.basic-info .row .col-md-9 {
	background: white;
	margin-left: 2px;
	width: 74.6%;
}
.basic-info  input,.basic-info  select,.basic-info  textarea {
  border: 2px solid transparent;
  width: 100%;
}


.sort span {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #F3F75E;
}
.sort a {
  font-size: 23px;
  text-transform: uppercase;
  color: #80CFE2;
  font-weight: bold;
  margin-right: 5px;
}
.select-items .single-item {
  color: white;
}
.select-items .single-item span {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  font-size: 19px;
}
.select-items .single-item .photo {
  text-align: center;
  position: relative;
}
.select-items .single-item .photo img {
  max-width: 100%;
  width: auto;
  height: 150px;
}
.select-items .single-item input {
  position: absolute;
  right: 6px;
  bottom: 5px;
  background: gold;
    z-index: 1;
}
.single-item .photo::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28px;
    width: 28px;
    background: #ae2929;
}

.select-heading {
  color: #FFFF00;
  font-size: 23px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}
.pagination {
  color: white;
  font-size: 20px;
}
.pagination a {
  color: white;
  font-size: 20px;
}
.place-order-button {
	background: #FFFC00;
	border: 0px;
	padding: 3px 14px;
	font-weight: bold;
}


.quantity-heading {
	display: inline-block !important;
	margin-right: 2px;
	background: white;
	color: black;
	font-size: 16px !important;
	padding: 0px 5px;
	margin-bottom: 0px !important;
}
.quantity-field {
    position: static !important;
    display: inline-block;
    width: 20%;
    background: white !important;
    border: 0px;
    float: none;
    color: black;
    padding: 1px 5px;
}
.quantity-maintain {
	background: #008837;
}

.qt_minus {
    display: inline-block !important;
    padding: 0px 4px;
    background: gold;
    font-size: 15px !important;
    cursor: pointer;
}
.qt_plus {
    display: inline-block !important;
    padding: 0px 4px;
    background: gold;
    font-size: 15px !important;
    cursor: pointer;
}
.total_qnt i {
    font-style: normal;
}
.order-page .select-heading {
  margin: 0px;
}
.order-page .select-items .single-item .photo img {
  height: 80px;
}
@media(min-width:992px){
    .col-md-2.single-item.final-select {
        width: 13%;
    }

    .quantity-heading {
        margin-right: 6px;
    }
}



.order-form-heading {
  background: #B2E2EE;
  padding: 5px 10px;
  text-align: center;
  font-size: 20px;
}
.order-form-heading span {
  float: right;
  font-weight: bold;
  font-size: 18px;
}
.order-input-place {
  background: white;
}
.order-number p {
  display: inline-block;
  float: right;
}
.order-number p span {
    background: #E5E5E5;
    padding: 4px 10px;
    display: inline-block;
}
.product-amount-info p {
  display: inline-block;
  float: right;
}

.product-amount-info p span {
  background: #E5E5E5;
  padding: 3px 11px;
}

.field-body {
  padding-left: 5px;
}
.single-input {
  margin-bottom: 5px;
  margin-left: 0px;
}
.field-body input,.field-body select,.field-body textarea {
  width: 100%;
  border: 0px;
  background: #E5E5E5;
  padding: 5px 5px;
}
.field-heading {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #80CFE2;
}
.order-submit-button button {
  background: green;
  border: 0px;
  display: inline-block;
  color: white;
  padding: 6px 23px;
  text-transform: uppercase;
  font-size: 19px;
}
.order-submit-button {
  text-align: center;
}

.select-district {
  background: #CFCFCF;
  border: 1px solid #CFCFCF;
  width: 100%;
}
.select-country {
  background: #CFCFCF;
  border: 1px solid #CFCFCF;
  width: 100%;
}

.success-message span {
	display: block;
	text-align: center;
	color: white;
	font-size: 20px;
}
/*single product view css */
.preview .owl-item img {
	height: 450px;
	width: auto;
	max-width: 100%;
}
.owl-item .photo img {
	margin: auto;
}
.preview .owl-dots {
	text-align: center;
	display: block;
	margin-top: 10px;
}
.preview .owl-dot {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5px;
    transition: all 0.3s;
}
.preview .owl-dot img{
    width: 100%;
    height:100%;
}
.preview .owl-dot.active {
	border: 1px solid white;
	transform: scale(1.1);
	padding: 1px;
}
.row.view-delivery {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 15px;
}
.view-order-button {
	background: #37A22B;
	color: white;
	padding: 7px 30px;
}

.other-heading span {
  display: block;
  background: white;
  padding: 5px 15px;
}
.other-body div {
  background: white;
  padding: 13px;
  border-top: 1px solid #bed5d1;
}
.upload_item span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    display: block;
}
.upload_item span img {
    width: ;
    max-width: 100%;
    height: 80%;
}
.basic-info span {
    height: 26px;
    display: block;
}
.warning p {
    background: brown;
    display: inline-block;
    margin-top: 16px;
    color: white;
    padding: 10px 34px;
    border-radius: 2px;
}